@mixin breakpoint($point) {
    @if $point == phone-landscape {
        @media (min-width: 450px) {
            @content;
        }
    }@else if $point == tablet {
        @media (min-width: 768px) {
            @content;
        }
    }@else if $point == tablet-landscape {
        @media (min-width: 1024px) {
            @content;
        }
    }@else if $point == desktop {
        @media (min-width: 1200px) {
            @content;
        }
    }@else if $point == desktop-big {
        @media (min-width: 2000px) {
            @content;
        }
    }
}