@import url('https://fonts.googleapis.com/css?family=EB+Garamond:400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,600&display=swap');

.display-1, .display-2, h1, h2, h3, h4 {
}

.display-1 {
    font-size: 6rem;
    font-weight: 700;
}

.display-2 {
    font-size: 3.75rem;
    font-weight: 600;
}

h1, h2, h3, h4, h5 {

}

h1 {
    font-size: 3rem;
    font-weight: 600;
}

h2 {
    font-size: 2.25rem;
    font-weight: 500;
}

h3 {
    font-size: 1.75rem;
    font-weight: 400;
}

h4 {
    font-size: 1.125rem;
    font-weight: 600;
}

body {
    font-family: "Open Sans", sans-serif;
    letter-spacing: 1px;

    p {
        font-weight: 300;
    }
}