@import "basics/blocks";
@import "basics/media";

$defaultWidth: 768px;
$alignWide: 1200px;
$alignFull: 100%;

.entry {
    margin-bottom: 1rem;
}

.entry-meta,
.entry-footer {
    font-stretch: condensed;
    font-size: 80%;
}

.entry-meta {
    margin: 1em 0;
}

/* Hides the update date and time. */
.updated:not(.published) {
    display: none;
}

.post-thumbnail img {
    margin: 0 auto;
}

.page-content,
.entry-content,
.entry-summary {
    margin: 1.5em 0 0;
}

.entry-content > ul,
.entry-content > ol {
    padding-left: 3.5em;
}

.page-content > *,
.entry-content > *,
.entry-summary > * {
    margin-right: auto;
    margin-left: auto;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    max-width: $defaultWidth;
}

.page-header,
.entry-header,
.entry-footer,
.site-info,
.post-navigation,
.page-navigation,
.comments-area {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

.page-content > *,
.entry-content > *,
.entry-content > .wp-block-image,
.entry-summary > *,
.page-header,
.entry-header,
.entry-footer,
.site-info,
.post-navigation,
.page-navigation,
.comments-area {
    margin-left: auto;
    margin-right: auto;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    max-width: $defaultWidth;
}

@media (min-width: 48em) {

    .entry-content > ul,
    .entry-content > ol {
        padding-left: 2.5em;
        padding-right: 2.5em;
    }
}

/* Align .more-link with the content. */
.entry-content > .more-link {
    display: block;
}

.page-links {
    clear: both;
    margin-bottom: 1.5em;
}

.entry-footer span {
    margin-right: 1em;
}

.entry-footer {
    clear: both;
    padding: 1.5em 1.5rem 3em;
}

@media (min-width: 48em) {

    .entry-footer {
        padding-right: 0;
        padding-left: 0;
    }
}

.alignleft {
    float: left;
    margin-right: 1.5rem;
}

.alignright {
    float: right;
    margin-left: 1.5rem;
}

.aligncenter {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.alignwide {
    max-width: calc(50% + 768px / 2);
}

.alignfull {
    max-width: 100%;
}

.page-content > .alignleft,
.entry-content > .alignleft,
.entry-summary > .alignleft {
    margin-left: 1.5rem;
}

.page-content > .alignright,
.entry-content > .alignright,
.entry-summary > .alignright {
    margin-right: 1.5rem;
}

@media (min-width: 48em) {

    .page-content > .alignleft,
    .entry-content > .alignleft,
    .entry-summary > .alignleft {
        margin-left: calc((100vw - 768px) / 2);
    }

    .page-content > .alignright,
    .entry-content > .alignright,
    .entry-summary > .alignright {
        margin-right: calc((100vw - 768px) / 2);
    }
}

@media (min-width: 60em) {

    .has-sidebar .page-content > .alignleft,
    .has-sidebar .entry-content > .alignleft,
    .has-sidebar .entry-summary > .alignleft {
        margin-left: calc((75vw - 2rem - 768px) / 2);
    }

    .has-sidebar .page-content > .alignright,
    .has-sidebar .entry-content > .alignright,
    .has-sidebar .entry-summary > .alignright {
        margin-right: calc((75vw - 2rem - 768px) / 2);
    }
}