.wp-block-quote.is-large,
.wp-block-quote.is-style-large {
    margin: 1.5em auto;
    padding: 0 1em;
}

.entry-content > .wp-block-quote,
.entry-content > .wp-block-quote.is-style-large {
    margin-left: 1.5rem;
}

@media (--content-query) {

    .entry-content > .wp-block-quote,
    .entry-content > .wp-block-quote.is-style-large {
        margin-left: auto;
    }
}

.wp-block-quote:not(.is-large):not(.is-style-large) {
    border-left-color: var(--color-quote-border);
}

.wp-block-quote__citation,
.wp-block-quote cite,
.wp-block-quote footer {
    border-left-color: var(--color-quote-citation);
}

.wp-block-cover {
    display: flex;
    align-items: center;
}

.wp-block-cover__inner-container > * {
    max-width: var(--content-width);
    margin-left: auto;
    margin-right: auto;
}

.wp-block-cover .wp-block-cover-text,
.wp-block-cover p {
    margin-top: 0;
}

.wp-block-latest-posts,
.wp-block-latest-comments {
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    border: 1px solid hsl(0, 0%, 80%);
}

ul.wp-block-latest-posts.alignwide,
ul.wp-block-latest-posts.alignfull,
ul.wp-block-latest-posts.is-grid.alignwide,
ul.wp-block-latest-posts.is-grid.alignfull {
    padding: 0 1.5em;
}

/*--------------------------------------------------------------
# Gallery Block - overrides core styles
--------------------------------------------------------------*/

.wp-block-gallery {
    display: grid;
    //grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    //grid-gap: 0.5em;
}

.wp-block-gallery:not(.components-placeholder) {
    margin: 1.5em auto;
}

/* Override standard ul indentation. */

.entry-content .wp-block-gallery {
    padding-right: 1.5em;
    padding-left: 1.5em;
}

@media screen and (min-width: 48em) {

    .entry-content .wp-block-gallery {
        padding-right: 0;
        padding-left: 0;
    }
}

.wp-block-gallery.columns-2 .blocks-gallery-item,
.wp-block-gallery.columns-3 .blocks-gallery-item,
.wp-block-gallery.columns-4 .blocks-gallery-item,
.wp-block-gallery.columns-5 .blocks-gallery-item,
.wp-block-gallery.columns-6 .blocks-gallery-item,
.wp-block-gallery.columns-7 .blocks-gallery-item,
.wp-block-gallery.columns-8 .blocks-gallery-item,
.wp-block-gallery.columns-9 .blocks-gallery-item {
    grid-column: span 1;
    margin: 0;
    width: inherit;
}


.blocks-gallery-item:last-child:nth-child(odd) {
    grid-column: span 2;
}

.wp-block-gallery.columns-3 .blocks-gallery-item:last-child:nth-child(3n),
.wp-block-gallery.columns-5 .blocks-gallery-item:last-child:nth-child(5n),
.wp-block-gallery.columns-7 .blocks-gallery-item:last-child:nth-child(7n),
.wp-block-gallery.columns-9 .blocks-gallery-item:last-child:nth-child(9n) {
    grid-column: span 1;
}

@media screen and (min-width: 40em) {

    .wp-block-gallery.columns-2 {
        grid-template-columns: repeat(2, 1fr);
    }

    .wp-block-gallery.columns-3 {
        grid-template-columns: repeat(3, 1fr);
    }

    .wp-block-gallery.columns-4 {
        grid-template-columns: repeat(4, 1fr);
    }

    .wp-block-gallery.columns-5 {
        grid-template-columns: repeat(5, 1fr);
    }

    .wp-block-gallery.columns-6 {
        grid-template-columns: repeat(6, 1fr);
    }

    .wp-block-gallery.columns-7 {
        grid-template-columns: repeat(7, 1fr);
    }

    .wp-block-gallery.columns-8 {
        grid-template-columns: repeat(8, 1fr);
    }

    .wp-block-gallery.columns-9 {
        grid-template-columns: repeat(9, 1fr);
    }
}